---
import Layout from "../layouts/Layout.astro";
import Blogs from "../components/Blogs.astro";
import Me from "../components/Me.astro";
---

<Layout>
	<main>
		<Me/>
		<section>
			<Blogs />
			<a href="./blog/">View More</a>
		</section>
	</main>
</Layout>
