<section class="hero">
    <img src="/src/assets/images/blog-placeholder-1.jpg" alt="me" />
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Aliquid pariatur ab praesentium. Sit perspiciatis aliquid
        obcaecati maiores dolorem reiciendis suscipit necessitatibus
        animi, nostrum laboriosam hic aliquam porro, a exercitationem
        accusamus?
    </p>
</section>


<style is:global>
	.hero {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 3rem 1rem;
	}
	.hero img {
		max-width: 250px;
		width: 100%;
		aspect-ratio: 1;
		object-position: center;
		object-fit: cover;
		border-radius: 50%;
	}

	.hero p {
		max-width: 400px;
	}
</style>